h3 {
    color: #121212;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
 .centered{
    font-size: 20px;
    
}
 .chapter-paragraph{
    font-size: 20px;
    text-align: center;
 }

 
